<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746522585271-soje2u08sg78kk0chv48ru06pj96ekct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746522585271-soje2u08sg78kk0chv48ru06pj96ekct</string>
	<key>API_KEY</key>
	<string>AIzaSyD0b153XZn3cRzCUYVaPmXMSAdWTcsOScE</string>
	<key>GCM_SENDER_ID</key>
	<string>746522585271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wbAdmin</string>
	<key>PROJECT_ID</key>
	<string>waru-bora-test</string>
	<key>STORAGE_BUCKET</key>
	<string>waru-bora-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746522585271:ios:e4d9089702b3e0963a8532</string>
	<key>DATABASE_URL</key>
	<string>https://waru-bora-test-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>